<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.XmlTestMapper">

    <select id="getXmlString" statementType="CALLABLE" parameterType="com.example.demo.domain.XmlTest">
        {CALL P_XML_SELECT(#{vInputstring, mode=IN, jdbcType=NCLOB},#{vXmlstring, mode=OUT, jdbcType=SQLXML})}
    </select>


</mapper>